@import './base.css';

body {
  background: linear-gradient(
    160deg,
    var(--bg-linear-gradient-start) 0%,
    var(--bg-linear-gradient-mid) 50%,
    var(--bg-linear-gradient-end) 100%
  );
  padding-bottom: 9.375rem;
  min-height: 100vh;
  color: var(--text-color);
  font-family:
    'Melon Camp',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
}
