@import './base.css';

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/brands.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

body {
  background: linear-gradient(
    160deg,
    var(--bg-linear-gradient-start) 0%,
    var(--bg-linear-gradient-mid) 50%,
    var(--bg-linear-gradient-end) 100%
  );
  padding-bottom: 9.375rem;
  min-height: 100vh;
  color: var(--text-color);
  font-family:
    'Melon Camp',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    /* Effectively disable by making duration tiny */
    animation-duration: 0.01ms !important;
    /* Play only once (tiny duration) */
    animation-iteration-count: 1 !important;
    /* Effectively disable transitions */
    transition-duration: 0.01ms !important;
    /* Disable smooth scrolling */
    scroll-behavior: auto !important;
  }
}
